<body>
  <div class='container-fluid news-container'>
    <!-- News Card -->
    <h1
      class='display-1 glowing-text'
      style='color: aliceblue; padding-top:1.5rem'
    >News</h1>
    <div class='card text-bg-dark mb-3 news-card'>
      <div class='row g-0'>
        <div class='col-md-4'>
          <img
            src='../images/newsImages/animeExpo2023-1.png'
            class='img-fluid rounded-start'
            alt='...'
          />
        </div>
        <div class='col-md-8'>
          <div class='card-body'>
            <h5 class='card-title'>Anime Expo 2023</h5>
            <p class='card-text'>Anime Expo Day 3 has begun! Check out the world
              of Naruto right by the main area of ANIME EXPO 2023!</p>
            {{! <p class='card-text'><small class='text-body-secondary'>Last updated
                3 mins ago</small></p> }}
          </div>
        </div>
      </div>
    </div>
    <!-- News Card -->
    <div class='card text-bg-dark mb-3 news-card'>
      <div class='row g-0'>
        <div class='col-md-4'>
          <img
            src='../images/newsImages/animeExpo2023-2.png'
            class='img-fluid rounded-start'
            alt='...'
          />
        </div>
        <div class='col-md-8'>
          <div class='card-body'>
            <h5 class='card-title'>NARUTOP99</h5>
            <p class='card-text'>We are also happy to announce that we will be
              making a selection of characters from NARUTOP99!
            </p>
            {{! <p class='card-text'><small class='text-body-secondary'>Last updated
                3 mins ago</small></p> }}
          </div>
        </div>
      </div>
    </div>
    <!-- News Card -->
    <div class='card text-bg-dark mb-3 news-card'>
      <div class='row g-0'>
        <div class='col-md-4'>
          <img
            src='../images/newsImages/animeExpo2023-3.png'
            class='img-fluid rounded-start'
            alt='...'
          />
        </div>
        <div class='col-md-8'>
          <div class='card-body'>
            <h5 class='card-title'>One Piece</h5>
            <p class='card-text'>Swing by the onepiece booth to see the massive
              size of S.H.Figuarts Kaido! Als on display is our other ONE PIECE
              items!</p>
            {{! <p class='card-text'><small class='text-body-secondary'>Last updated
                3 mins ago</small></p> }}
          </div>
        </div>
      </div>
    </div>
    <!-- END of News Card -->
  </div>
</body>