<body>

  <!-- START of Modal SIGNUP-->
  <div
    class='modal fade'
    id='signupModal'
    tabindex='-1'
    role='dialog'
    aria-hidden='true'
    style='margin-top: 5%; border-color: #ffff;'
  >
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <div class='row' style='padding-top: 2%;'>
            <h5
              class='modal-title'
              style='justify-content:center; text-align:center; font-family: Alfa Slab One, cursive; color:var(--dark-green-color);'
            >
              Create your free account</h5>
            <p
              style='padding-top:2%; justify-content:center; margin: auto; max-width:300px; font-size:14px; font-family:Poppins; color:var(--grey-color)'
            >
              Join the must-have tool for all Dragon Ball SH Figuarts
              Collectors!</p>
          </div>
        </div>
        <div
          class='modal-body justify-content-center align-items-center'
          style='border-color: #FFFF;'
        >
          <form id='signUpForm'>
            <div class='form-group'>
              <input
                type='username'
                class='form-control form-signup'
                id='signupInputUserName'
                aria-describedby='emailHelp'
                placeholder='Your Username'
                style='justify-content: center; text-align: left; align-items: center; margin-bottom: 2%;'
              />
              {{! <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                      else.</small> }}
            </div>
            <div class='form-group'>
              <input
                type='email'
                class='form-control form-signup'
                id='signupInputEmail'
                aria-describedby='emailHelp'
                placeholder='Enter email'
                style=' text-align: left; margin-bottom: 2%; '
              />
              {{! <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                      else.</small> }}
            </div>
            <div class='form-group' style='border-radius: 20%;'>
              <input
                type='password'
                class='form-control form-signup'
                id='signupInputPassword'
                placeholder='Password'
                style='text-align: left; margin-bottom: 2%;'
              />
            </div>
            <div class='div-btn-submit'>
              <button
                type='submit'
                class='btn btn-outline-light'
                id='signUpSubmit'
              >Submit</button>
            </div>

          </form>
        </div>
        {{! <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div> }}
      </div>
    </div>
  </div>
  <!--END of Modal SIGNUP -->

  <!-- START of Modal LOGIN -->
  <div
    class='modal fade'
    id='loginModal'
    tabindex='-1'
    role='dialog'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
    style='margin-top: 5%;'
  >
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <div class='row' style='padding-top: 2%;'>
            <h5
              class='modal-title'
              style='justify-content:center; text-align:center; font-family:Poppins; color:var(--dark-green-color);'
            >
              Login into account</h5>
            <p
              style='padding-top:2%; justify-content:center; margin: auto; max-width:300px; font-size:14px; font-family:Poppins; color:var(--grey-color)'
            >
              Join thousands of Collecionist and keep track of your collection</p>
          </div>
        </div>
        <div class='modal-body'>
          <form>
            <div class='form-group'>
              <input
                type='email'
                class='form-control form-login'
                id='loginInputEmail'
                aria-describedby='emailHelp'
                placeholder='Enter email'
                style='font-family:Poppins; text-align: center; margin-bottom: 2%;'
              />
            </div>
            <div class='form-group'>
              <input
                type='password'
                class='form-control form-login'
                id='loginInputPassword'
                placeholder='Password'
                style='font-family:Poppins; text-align: center; margin-bottom: 2%;'
              />
            </div>
            <div class='div-btn-submit'>
              <button
                type='submit'
                class='btn btn-outline-light'
                id='loginSubmit'
              >Submit</button>

            </div>

          </form>
        </div>
        {{! <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div> }}
      </div>
    </div>
  </div>
  <!--END of Modal LOGIN -->

  <div class='container-fluid news-container'>
    <!-- News Card -->
    <h1
      class='display-1 glowing-text'
      style='color: aliceblue; padding-top:1.5rem'
    >News</h1>
    <div class='card text-bg-dark mb-3 news-card'>
      <div class='row g-0'>
        <div class='col-md-4'>
          <img
            src='../images/newsImages/animeExpo2023-1.png'
            class='img-fluid rounded-start'
            alt='...'
          />
        </div>
        <div class='col-md-8'>
          <div class='card-body'>
            <h5 class='card-title'>Anime Expo 2023</h5>
            <p class='card-text'>Anime Expo Day 3 has begun! Check out the world
              of Naruto right by the main area of ANIME EXPO 2023!</p>
            {{! <p class='card-text'><small class='text-body-secondary'>Last updated
                3 mins ago</small></p> }}
          </div>
        </div>
      </div>
    </div>
    <!-- News Card -->
    <div class='card text-bg-dark mb-3 news-card'>
      <div class='row g-0'>
        <div class='col-md-4'>
          <img
            src='../images/newsImages/animeExpo2023-2.png'
            class='img-fluid rounded-start'
            alt='...'
          />
        </div>
        <div class='col-md-8'>
          <div class='card-body'>
            <h5 class='card-title'>NARUTOP99</h5>
            <p class='card-text'>We are also happy to announce that we will be
              making a selection of characters from NARUTOP99!
            </p>
            {{! <p class='card-text'><small class='text-body-secondary'>Last updated
                3 mins ago</small></p> }}
          </div>
        </div>
      </div>
    </div>
    <!-- News Card -->
    <div class='card text-bg-dark mb-3 news-card'>
      <div class='row g-0'>
        <div class='col-md-4'>
          <img
            src='../images/newsImages/animeExpo2023-3.png'
            class='img-fluid rounded-start'
            alt='...'
          />
        </div>
        <div class='col-md-8'>
          <div class='card-body'>
            <h5 class='card-title'>One Piece</h5>
            <p class='card-text'>Swing by the onepiece booth to see the massive
              size of S.H.Figuarts Kaido! Als on display is our other ONE PIECE
              items!</p>
            {{! <p class='card-text'><small class='text-body-secondary'>Last updated
                3 mins ago</small></p> }}
          </div>
        </div>
      </div>
    </div>
    <!-- END of News Card -->
  </div>
  <script src='../js/login.js'></script>
</body>