<body>
  <main>

    <h1 class='display-1 userpage_title'>
      My Sh Figuarts Collection</h1>
    <div class='dropdown' style='padding-left: 5%;'>
      <button
        class='btn btn-secondary dropdown-toggle saga-dropdown'
        type='button'
        data-bs-toggle='dropdown'
        aria-expanded='false'
      >
        Saga Collection
      </button>
      <ul class='dropdown-menu'>
        <li><a class='dropdown-item' href='#'>Dragon Ball</a></li>
        <li><a class='dropdown-item' href='#'>Dragon Ball Z</a></li>
        <li><a class='dropdown-item' href='#'>Dragon Ball Super</a></li>
        <li><a class='dropdown-item' href='#'>Dragon Ball GT</a></li>
      </ul>
    </div>
    <div
      id='cardsContainer' style='display: flex; flex-wrap:wrap; justify-content:space-around; padding-top:5%;'
    >
      {{#each figures as |figure|}}
       {{> myfigures-details}}
      {{/each}}
    </div>

  </main>
  {{! <script src='../js/sagaFilter.js'></script> }}

</body>